@page "/fetchdata"
@using RerenderRepro.Shared
@inject HttpClient Http

<button @onclick="OnClickTest">Test</button>

@if (forecasts != null)
{
    @foreach (var forecast in forecasts)
    {
        <ForecastRow @key="forecast.Date" Forecast="forecast" />
    }
}

@code {
    private WeatherForecast[] forecasts;

    void OnClickTest()
    {}

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetJsonAsync<WeatherForecast[]>("WeatherForecast");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender)
        {
            Console.WriteLine("OnAfterRender: FetchData");
        }

        base.OnAfterRender(firstRender);
    }
}
